.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #212121;
}

.container {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  min-width: 200px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.footer .modal-btn {
  padding: 10px 61px 10px 29px;
  border: #2196F3;
  background: #2196F3;
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 40px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close-dtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close {
  width: 18px;
  height: 18px;
}

.icon-close:hover {
  fill: #2196F3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-icon {
  fill: #2196F3;
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message:focus {
  outline: none;
  border-color: #2196F3;
}

.modal__form-policy-text {
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #757575;
}

.modal__form-policy-text::before {
  display: inline-block;
  content: "";
  margin-right: 9px;
  vertical-align: text-top;
  width: 18px;
  height: 17px;
  box-sizing: border-box;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal__form-policy:checked + .modal__form-policy-text::before {
  background-image: url(../images/vector.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  outline: none;
  background-position: 50% 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid #2196F3;
  width: 18px;
  height: 17px;
  transition: all 250ms linear;
}

.modal__form-policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal__form-btn {
  display: block;
  width: 200px;
  border: 1px solid #2196F3;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  color: #303030;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: #2196F3;
  color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.header .logo {
  color: #000000;
  display: flex;
}

.footer .logo {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    justify-content: left;
  }
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background: #2196F3;
}

.footer .social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-list__link:hover, .footer .social-list__link:focus {
  background: #2196F3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer .social-list__icon {
  fill: #ffffff;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 12px;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

@media screen and (min-width: 768px) {
  .social-links {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-links {
    margin-right: 93px;
  }
}

.header .container {
  position: relative;
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: red;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_mobile.jpg");
    background-size: 480px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    max-width: 700px;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_desktop.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg_desktop@2x.jpg");
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
  .features__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .features__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__subtitle {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .work-examples {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work-examples {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples {
    display: flex;
    padding-bottom: 94px;
  }
  .work-examples__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
  .work-examples__items {
    display: flex;
    justify-content: center;
  }
  .work-examples__title {
    margin-bottom: 50px;
  }
  .work-examples__item {
    position: relative;
  }
  .work-examples__item:not(:last-child) {
    margin-right: 30px;
  }
  .work-examples__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 16px;
}

.team__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  color: #212121;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  team__picture {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team__items {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 30px;
  }
  .team__item:nth-last-child(2n) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-list__link {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border: 1px solid #2196F3;
}

.client-list__item:nth-last-child(2n) {
  margin-right: 30px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #032b0c;
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.client-list__item {
  margin-bottom: 30px;
}

.client-list__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.client-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .client-list__item:nth-last-child(2n) {
    margin-right: 0px;
  }
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-list__link {
    width: 170px;
  }
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .client-list__item {
    margin-bottom: 0px;
  }
  .client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.footer {
  background: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__adrress a {
  color: #FFFFFF;
}

.footer__mail a,
.footer__tel a {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer .address {
  width: 231px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.footer .item:not(:last-child) {
  margin-bottom: 8px;
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-right: 29px;
  color: #FFFFFF;
}

.mailing__email {
  display: inline-block;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing__email-input {
  width: 450px;
  border: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

.mailing__email-input::placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
  position: absolute;
  top: 13px;
}

@media screen and (min-width: 768px) {
  .footer .address {
    display: flex;
    margin-left: 0;
    flex-wrap: wrap;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  .info {
    margin-right: 165px;
    margin-left: 61px;
    margin-bottom: 60px;
  }
  .mailing__email-input {
    width: 100%;
  }
  .mailing {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer .address {
    justify-content: left;
  }
  .mailing {
    margin: 0;
  }
  .mailing__email {
    width: 358px;
    margin-right: 8px;
  }
  .footer .container {
    text-align: left;
  }
  .mailing__title {
    padding-top: 12px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */