.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #212121;
}

.container {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  min-width: 200px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

.footer .modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #2196F3;
  background: #2196F3;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.header .logo {
  color: #000000;
  margin-right: 90px;
}

.footer .logo {
  display: flex;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background: #2196F3;
}

.footer .social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-list__link:hover, .footer .social-list__link:focus {
  background: #2196F3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer .social-list__icon {
  fill: #ffffff;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 12px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid  #EEEEEE;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .address a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.header .address {
  display: flex;
}

.header__mail {
  margin-right: 50px;
  display: flex;
}

.header__tel {
  display: flex;
}

.header .address a:hover,
.header .address a:focus {
  color: #2196F3;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__items {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.block::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  transform: translateY(52px);
  transition: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accent::after {
  width: 100%;
}

a .nav__item {
  transition: all 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.colortext {
  color: #2196F3;
}

.accent {
  color: #2196F3;
}

.link {
  display: flex;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.footer__adrress a {
  color: #FFFFFF;
}

.footer .address {
  width: 231px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer__mail a,
.footer__tel a {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer {
  background: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.mailing__form {
  display: flex;
}

.mailing__email {
  margin-right: 12px;
  display: inline-block;
  width: 358px;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing__email-input {
  width: 100%;
  border: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

.mailing__email-input::placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.catalog__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  min-width: 73px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  background: #F5F4FA;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog__btn:hover, .catalog__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.catalog__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.catalog__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-catalog__items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  display: flex;
  margin-bottom: 30px;
  width: 370px;
}

.catalog__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.menu-catalog {
  padding-top: 94px;
  padding-bottom: 64px;
}

.menu-catalog__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-catalog__item:not(:last-child) {
  margin-right: 8px;
}

.catalog__item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog__item-link:hover .overlay,
.catalog__item-link:focus .overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=portfolio.css.map */