.header {
        border-bottom: 1px solid  #EEEEEE; 
        padding-top: 32px;
        padding-bottom: 32px;
        
   
    .address a{
        @include font (500, 14px, 1.143);
        letter-spacing: 0.02em;
        color: #757575;
            
      }
    .address {
        display: flex;
      }
    &__mail {
        margin-right: 50px;
        display: flex;
      } 
    &__tel {
        display: flex;    
      }
    
    .address a:hover,
    .address a:focus {
        color: #2196F3;
      }
}
.nav {
        display: flex;
        align-items: center;

    &__item{
        @include font (500, 14px, 1.143);
        letter-spacing: 0.02em;
        
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    &__items {
        display: flex;
        align-items: center;
      }     
    } 
 
.icon {
  margin-right: 10px;
  width: 16px;
  height: 16px
}
  
.block::after  {
  @include pseudo ( block, absolute, '');
  width:0;

  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  
  transform: translateY(52px);
  transition: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.accent::after {
  width: 100%; 
} 

a .nav__item {
  transition: all 3s cubic-bezier(0.4, 0, 0.2, 1);
}
.colortext {
  color: #2196F3;
}
.accent {
  color: #2196F3;

}

.link {
    display: flex;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196F3;
    fill: #2196F3;
  }

}
 