.logo {
    font-family: $secondary-font;
    @include font (700, 26px, 1.192);
    letter-spacing: 0.03em;
   
    .header & {
        color: #000000;
        margin-right: 90px;
    }
    .footer & {
        color: #FFFFFF;
        display: block;
        margin-bottom: 20px;
      }
}

