.logo {
    display: flex;
    font-family: $secondary-font;
    @include font (700, 24px, 28px);
    letter-spacing: 0.03em;
    align-items: center;
    .header & {
        color: #000000;
        padding: 0px;
    }
    .footer & {
        color: #FFFFFF;
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) {
    
    .header .logo {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }
}
@media screen and (min-width: 1200px) {
    .footer .logo {
        justify-content: left;
    }
    .logo {
        @include font (700, 26px, 31px);
    }
    .header .logo {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

